.Indicator {
  margin-bottom: 20px;
}

.Indicator_subTitle {
  font-size: 15px;
}

.Indicator_of_item_span {
  font-weight: 600;
  font-size: 16px;
}

.Indicator_of_feature,
.Indicator_of_use,
.Indicator_of_conclusion {
  font-size: 20px;
}
