.Card_box{
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}


.Card_img{
  border-radius: 15px;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}



.Card_box_see_more{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  background-color: #FF9671;
}

.Card_see_more_link{
  color: #ffffff;
}

.Card_box_title{
  font-size: 14px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

//.Card_box_img:hover .Card_img{
//  display: none;
//}
//
//.Card_des{
//  width: 100%;
//  height: 100%;
//  display: none;
//
//}
//.Card_box_img{
//  position: relative;
//  height: 300px;
//  width: 250px;
//  border-radius: 15px;
//  background-color: transparent;
//  transition: transform 2s ease-in;
//  perspective: 1000px;
//  box-shadow: 0 0 13px 0 #00000040;
//}
//
//.Card_box_img:hover{
//  transform: rotateY(180deg);
//}
//
//.Card_box_des{
//  padding: 10px 10px;
//
//}
//.Card_des{
//  transform: rotateY(180deg);
//}
//
//.Card_box_img:hover .Card_des{
//  display: block;
//}


.Card_wrap_img{
  height: 300px;
  width: 250px;
  perspective: 800px;
}

.Card_wrap_img:hover > .Card_block_img{
  cursor: pointer;
  transform: rotateY(180deg);
}

.Card_block_img{
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.Card_box_img,
.Card_box_des{
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  backface-visibility: hidden;
}
.Card_box_des{
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.Card_des{
  padding: 5px 10px;
  text-align: justify;
}
