.Navbar {
  flex-shrink: 0;
  height: 70px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #00000026;
  &__panel {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    &-logo {
      margin-right: 20px;
    }
  }
}

.Navbar--fixed {
  position: fixed;
  top: 0;
  z-index: 1;
}
.Navbar__panel-logo--name {
  display: contents;
  font-size: 15px;
  font-family: GoblinOne-Regular;
}

.nav__panel-item {
  height: 100%;
}
.nav__panel-items {
  margin-left: 10px;
  margin-right: 10px;
}
.nav__panel-list {
  height: inherit;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.panel__list-item {
  height: 100%;
  &--link {
    display: flex;
    -webkit-box-align: center;

    align-items: center;
    height: 100%;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 400;
  }
}

.panel__item-link--body {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  padding-right: 27px;
  display: flex;
  transition: background-color 0.2s;
  padding: 0 14px;
  height: 70px;
  border-radius: 2px;
  background: 0 0;
  box-shadow: none;
  align-items: center;
  &:hover {
    color: #fff;
  }
}

.panel__subMenu {
  display: none;
  //   width: 300px;
  max-width: 565px;
  max-height: 1066px;
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  z-index: 100;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
  &-body {
    background: #fff;
    color: #3d464d;
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
    min-height: 100%;
    line-height: 1.5;
    letter-spacing: 0.01em;
    overflow-y: auto;
  }
  &-wrap {
    background-position: right bottom;
    padding: 26px 30px;
    background-repeat: no-repeat;
    min-height: 100%;
  }
}

.panel__subMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  &--item {
    padding: 1px 0;
  }
}
.panel__subMenu-item--link {
  font-weight: 800;
  &:hover {
    color: #ff9671;
  }
}

.panel__list-item:hover .panel__subMenu {
  display: block;
}
.panel__list-item:hover .panel__item-link--body {
  color: #fff;
}

.panel__list-item:hover {
  background-color: #ff9671;
}

.nav__panel-user {
  margin-left: auto;
  display: flex;
  height: 100%;
}
.nav__user-dropdown {
  display: none;
  position: absolute;
  max-height: 559px;
  background: #ff9671;
  color: #3d464d;
  width: 280px;
  right: 15px;
  z-index: 1;
  transition-delay: 0s, 0s, 0s;

  box-sizing: border-box;
}
.active__login-user {
  display: block;
}

.nav__form-user--title {
  text-align: center;
  padding: 30px 0 26px;
  font-weight: 700;
  font-size: 18px;
}
.nav__user-account {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.25);
  background: #fff;
  color: #3d464d;
  width: 280px;
  overflow-y: auto;
}
.nav__user-login {
  padding: 0 30px 32px;
  box-sizing: border-box;
}
.nav__form-user--group {
  margin-bottom: 1rem;
}
.nav__form-user--input {
  background-image: none;
  height: calc(1.875rem + 2px);
  line-height: 1.25;
  padding: 1.3125rem 0.5rem;
  border-radius: 2px;
  font-size: 0.875rem;
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  box-sizing: border-box;
}
.nav__form-group--btn {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.nav__form-user--btn {
  cursor: pointer;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 0.875rem;
  height: calc(1.875rem + 2px);
  line-height: 1.25;
  padding: 0.375rem 1rem;
  font-weight: 500;
  border-radius: 2px;
  border-color: #ff9671;
  background: #ff9671;
  color: var(--white);
  fill: var(--white);
}
.nav__form-group--forgot {
  display: flex;
  justify-content: flex-end;
}

.form__user-forgot--link {
  color: var(--red);
  font-weight: 500;
  font-size: 13px;
}
.nav__form-group--link--register {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.group--link--register {
  font-size: 14px;
  font-weight: 600;
  color: #8c8c8c;
}

// .nav__panel-search {
//   margin-left: auto;
// }

// .nav__panel-search {
//   border: 2px solid #00000026;
//   border-radius: 25px;
//   height: 34px;
//   padding: 0 16px 0 8px;
//   transition: border-color 0.2s ease-in-out;
//   width: 200px;
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }

// .nav_panel-search--input {
//   background-color: #ffffffcc;
//   margin-left: 8px;
//   border: none;
//   caret-color: #444;
//   flex: 1 1;
//   height: 100%;
//   outline: none;
//   padding: 0 4px;
//   background-color: rgba(255, 255, 255, 0.01);
// }

.panel__list-item--link {
  cursor: pointer;
}

.Navbar__open-menu {
  display: none;
  width: 20px;
  height: 20px;
}
.panel__item-link__img {
  width: 20px;
  height: 20px;
}

.panel__list-item:hover .panel__item-link__img {
  filter: invert(100%);
}

.panel__item-img--user {
  width: 20px;
  height: 20px;
}
/* Navbar.scss */

.warning {
  overflow: hidden;
}

.marquee-text {
  height: 20px;
  width: 100%;
  animation: marquee 30s linear infinite, fadeOut 2s 28s; /* Scrolling for 30s, then fade out in the last 2 seconds */
  opacity: 1; /* Starting opacity */
  color: #ff0000;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.Navbar__mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .Navbar__open-menu {
    display: block;
  }
  .nav__panel-item {
    display: none;
  }
  .nav__panel-items {
    display: none;
  }
  .Navbar__panel {
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__panel-user {
    margin-left: 0;
    height: 100%;
  }
  .Navbar__mobile {
    position: fixed;
    z-index: 1;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
  }

  .Navbar__mobile .show {
    left: 0;
    z-index: 9999;
    padding: 0;
  }

  .Navbar__mobile-wrap {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  }
  .Navbar__mobile-close {
    height: 70px;
    display: flex;
    align-items: center;
    &--img {
      width: 20px;
      height: 20px;
      margin-left: auto;
      margin-right: 10px;
    }
  }
  .Navbar__mobile-menu {
    &--list {
      padding: 5px 20px;
      list-style: none;
    }
    &--block {
      display: flex;
    }
    &--item {
      flex-direction: column;
      padding: 17px 17px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    &--title {
      font-size: 14px;
      font-weight: 600;
    }

    &--more {
      margin-left: auto;
      width: 18px;
      height: 18px;
    }
  }

  .Navbar__mobile-subMenu--knowledge {
    display: none;
    padding: 20px;
    height: 230px;
  }
  .Navbar__mobile-subMenu--forex {
    display: none;
    padding: 20px;
    height: 300px;
  }
  .Navbar__mobile-subMenu--indicator {
    display: none;
    padding: 20px;
    height: 120px;
  }
  .Navbar__mobile-subMenu--title {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    padding: 17px 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .warning {
    display: none;
  }
}

.navbar__user-box {
  display: none;
  position: absolute;
  right: -10px;
  margin-top: 10px;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  z-index: 99999;
  padding: 10px;
}

.navbar__user-box:before {
  content: "";
  position: absolute;
  top: -5px;
  right: 10px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.navbar__user-account {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  word-break: break-all;
}

.user__dropdown-list {
  width: 100%;
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user__dropdown-item {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  .user__dropdown-item--link {
    max-width: 100px;
    margin-left: 10px;
    text-align: center;
  }
}
.user__dropdown-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.user__dropdown-item--link:hover {
  color: #ff9671;
  cursor: pointer;
}

.user_log_out {
  text-align: center;
  cursor: pointer;
  &:hover {
    color: #ff9671;
  }
}

.user__log_out_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.navbar__user-mobile--close {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .navbar__user-box {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 0px;
    right: 0px;
    &::before {
      height: 0px;
      width: 0px;
    }
  }
  .navbar__user-content {
    width: 100%;
    height: 100%;
    margin-top: 70px;
  }
  .navbar__user-account {
    font-size: 15;
    font-weight: 500;
  }
  .navbar__user-account {
    text-align: center;
    font-size: 14px;
  }
  .user__dropdown-list {
    text-align: center;
    font-size: 14;
  }
  .navbar__user-mobile--close {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .user-mobile--close {
    width: 20px;
    height: 20px;
  }
}
