.SubNavbar {
  height: 34px;
  background: 0 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-bottom: none;
  font-size: 14px;
  line-height: 14px;
  color: #8c8c8c;
  position: relative;
}
.SubNavbar_wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SubNavbar_time {
  margin: 0;
  height: 34px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.SubNavbar_time_img {
  width: 20px;
  height: 20px;
  padding: 5px;
}

.SubNavbar_contact_list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.SubNavbar_contact_list_item {
  padding: 0 8px;
}
.SubNavbar_contact_list_item_img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1200px) {
  .SubNavbar {
    display: none;
  }
}
