.Loading{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 background: rgba(0, 0, 0, 0.5);;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.svg{
  position: relative;
  width: 70px;
  height: 70px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.circle{
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 5;
  stroke: #FF6F91;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  stroke-dasharray: 186;
  stroke-dashoffset: 186;
  animation: animate 4s linear infinite, changeColor 4s linear infinite;
}

@keyframes animate {
  0%, 100%{
    stroke-dashoffset: 440;
  }
  50%{
    stroke-dashoffset: 0;
  }
  50.1%{
    stroke-dashoffset: 880;
  }
}

@keyframes changeColor {
  0%, 16.67% {
    stroke: #845EC2;
  }
  16.67%, 33.33% {
    stroke: #D65DB1;
  }
  33.33%, 50% {
    stroke: #FF6F91;
  }
  50%, 66.67% {
    stroke: #FF9671;
  }
  66.67%, 83.33% {
    stroke: #FFC75F;
  }
  83.33%, 100% {
    stroke: #F9F871;
  }
}
