@font-face {
  font-family: "GoblinOne-Regular";
  src: url("../fonts/GoblinOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Light", sans-serif;
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Bold", sans-serif;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light", sans-serif;
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium", sans-serif;
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular", sans-serif;
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Text 400";
  font-weight: 400;
  src: url("../fonts/sfprotext-regular-400.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Text 600";
  font-weight: 600;
  src: url("../fonts/sfprotext-semibold-600.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display 600";
  font-weight: 600;
  src: url("../fonts/sfprodisplay-semibold_600.ttf") format("truetype");
}
